.game-status
  display: -webkit-flex
  -webkit-flex-wrap: wrap
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  border: 5px solid rgba(0, 0, 0, 0.3)
  width: 80%
  height: 250px
  background-color: rgb(191, 127, 53)

.count-down
  justify-content: space-between
  width: 33%

div.count-down
  font-size: 60
  margin-top: 55px
  text-align: center

.status-player1
  justify-content: left
  width: 33%

div.status-player1
  img
    padding: 10px

.status-player2
  justify-content: right
  width: 33%
